*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin : 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

#root,
#__next {
    isolation: isolate;
}

/* MY CSS */

body {
  background-color: #0F0F0F;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: #FFFFFF;
}

.wrapper {
  padding:  4em 5%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

header p {
  font-size: 1.8rem;
}

nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}

nav a {
  font-style: normal;
  color: white;
  font-size: 1.4rem;
  text-shadow: 0px 0px 10px rgba(255,255,255,1);
}

.offerings {
  padding : 1em 3em;
  margin-bottom: 6.5em;
}

h2.glow-y-g {
  font-size: 4.5rem;
  background: linear-gradient(to right, #FFF500, #9EFF00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom : 1em;
}

h3.glow-y-g {
  font-size: 4rem;
  background: linear-gradient(to right, #FFF500, #9EFF00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.boxes > div {
  width: 46%;
  padding : 4%;
  border-radius: 20px;
  display : flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  /* box-shadow: 0px 0px 5px #FFFFFF;
  animation: linear shadow-spin 10s infinite; */
}

@keyframes shadow-spin {
  0% {
      box-shadow: 2px 0px 5px #FFFFFF;
  }
  25% {
      box-shadow: 0px -2px 5px #FFFFFF;
  }
  50% {
      box-shadow: -2px 0px 5px #FFFFFF;
  }
  75% {
      box-shadow: 0px 2px 5px #FFFFFF;
  }
  100% {
      box-shadow: 2px 0px 5px #FFFFFF;
  }
}

.boxes > div > p {
  font-size: 1.7rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

.box-subbody {
  display: flex;
  flex-direction: row;
  padding : 1em;
  font-size: 1.5rem;
  justify-content: space-between;
}

.box-subbody > p {
  display : flex;
  flex-direction: column;
  justify-content: center;
  width : 75%;

}

.box-subbody > img {
  object-fit: contain;
}

.math {
  background: radial-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('png/math_stock.png');
}

.coding {
  background: radial-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("png/coding_stock.png");
}

h2.glow-r-o {
  font-size: 4.5rem;
  background: linear-gradient(to right, #FF0000, #FF7A00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom : 1em;
  text-align: center;
}

.scheduling {
  margin : 1em 3em;
  padding: 0% 5%;
  margin-bottom: 6.5em;
  background: radial-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url("png/image.png");
  background-position: center;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.content {
  width: 60%;
}

.subcontent {
   display: flex;
   flex-direction: row;
   margin: 3em 0em;
}

.content-text{
  margin-left: 1.5em;
}

.content-text h3 {
  font-size: 3rem;
  font-weight: normal;
}

.content-text p {
  font-size: 2rem;
}

.content-img {
  object-fit: contain;
  max-width: 10%;
}

.buttons {
  display :flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;

  align-items: center;
}

.buttons a{
  font-size: 2rem;
  color: inherit;
  padding: 1em;
  width : 70%;
  text-align: center;
  border-radius: 10px;
  /* background: rgba(234, 234, 234, 0.8); */
  border: 2px solid white;
  backdrop-filter: blur(0px);
  transition: all 0.75s ease;
}

.buttons a:hover {
  backdrop-filter: blur(10px);
}
